/*
--- 01 TYPOGRAPHY SYSTEM

- Font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- Spacing system (px)
2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html {
    font-size: 72.5%;
}

body {
    font-family: "Rubik", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #cdcdcd;
    letter-spacing: -0.3px;
}
.container{
    height: 900px;
    position: relative;
} 
.back{
    max-width: 1400px;
    height: 160vh;
    margin: 0 auto;
    background-color: #FEFEFE;
    position: relative;
    overflow: hidden;
    border: 1px solid #1A1A1A;
}
.orangecircle{
    height: 20rem;
    width:20rem;
    border: 2.4rem solid #FCA424;
    border-radius: 50%;
    position: absolute;
    transform: translate(-38%,-38%);
}
.greencircle{
    padding:6px;
    border: 4px solid #0DD39D;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 55%;
}
.square{
    width: 15px;
    height: 15px;
}
.sq_green{
    background-color: #0DD39D;
    position: absolute;
    bottom: 2%;
    left: 2.8%;
}
.sq_yellow{
    background-color:#FCA424;
    position: absolute;
    right:2%;
    top: 8%;
    rotate:150deg;
}
.hsq {
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    rotate: 45deg;
}
.h_sq_1{
    border: 3.5px solid #CDCDCD;
    right: 2%;
    bottom: 40%;
}
.h_sq_2{
    border: 3.5px solid #FCA424;
    left: 45%;
    bottom: 3%;
}
.sm_sq{
    width: 0.8rem;
    height:0.8rem;
    border: 3.5px solid #FCA424;
    rotate: 45deg;
    position: absolute;
    left: 2%;
    top: 50%;
}
.big_square{
    width: 20rem;
    height: 10rem;
    border: 1rem solid #f0f0f0;
    rotate: 30deg;
    position: absolute;
    right: -12%;
    bottom: -4%;
}

/***********************/
/* SECTION MAIN */
/***********************/

.main{
    width: 107rem;
    height: 145vh;
    margin: 0 4%;
    background-color: #f0f0f0;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    top: 5%;
    left: 5%;
}

/**********************/
/*HEADER */
/**********************/
header{
    font-size: 1.2rem;
    height: 22rem;
    background-color: aliceblue;
    background-image:linear-gradient(45deg,
            #2321216b,
            #3634347a),
            url(img/mountain.png);
    background-size: cover;
    background-position: center center;
}
.main-nav{
    padding: 2.4rem 2.2rem 0 2.2rem;
    display: flex;
    justify-content: space-between;
}
.logolink{
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    gap: 5px;
    letter-spacing: -1px;
    color: #cdcdcdb6;
    font-size: small;
    font-weight: 550;
}
.logo img{
    width: 3.2rem;
}

.navigation{
    display: flex;
    justify-content:space-between;
    align-items: center;
    gap: 1.4rem;
}

.btn:link,
.btn:visited{
    font-size: 10px;
    height: 2.8rem;
    display: flex;
    padding: 0 1rem;
    text-decoration: none;
    align-items: center;
    color: #CDCDCD;
    border-radius: 4px;
    background-color:#a4a4a428;
}
.btn:hover,
.btn:active{
    font-weight:500;
    background-color: #cdcdcd;
    color: #676767;
    transition: all 0.4s;
    border-radius: 1px solid #7b7b7b;
    transform: scale(1.1);
}
.icon{
    width: 1.8rem;
    height: 2.8rem;
    color: #CDCDCD;
}
.navigation a:hover:not(:first-child),
.logolink:hover{
    transform: scale(1.2);
    transition: all 0.4s;
}
.nav-img{
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 2px;
}
/**********************/
/**********************/
.detail{
    margin: 2rem;
    margin-left: 3.4rem;
    display: flex;
    justify-content:space-between;
    gap: 2rem;
    color: #CDCDCD;
}

.detail img{
    margin-left: 1rem;
    display:flex;
    width: 18rem;
    height: 18rem;
    margin-right: -20%;
    border-radius: 3px;
}

.detail-text{
    font-size: 16px;
    font-weight: 500;
    line-height: 1.4;
    letter-spacing: 0.5px;
}
.primary-heading{
    display: flex;
    margin: 8px 0;
    font-size: 1.6rem;
}

.profile{
    height: 9rem;
    padding: 0 1.8rem;
    margin-right: 2.6rem;
    margin-top: 1rem;
    display:flex;
    gap: 2.8rem;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb35;
}
strong{
    font-weight: 550;
}
.chart{
    font-size: 1rem;
    font-weight: 600;
    width: 2.8rem;
    height: 2.8rem;
    display:inline-block;
    padding: 0.90rem 0.5rem;
    background-color: #ebebeb35;
    border-radius: 50%;
    position: relative;
}

.chart::before {
    z-index: 1;
    content: "";
    padding: 1.8rem;
    border: 6px solid #FCA424;
    border-top-color: #d2d2d2;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-70% , +5%);
    rotate: 50deg;
}

.btn-profile:link,
.btn-profile:visited{
    color:#e1e1e1;
    font-weight: 550;
    display: inline-block;
    padding: 6px 1rem;
    text-decoration: none;
    border-radius: 2px;
    background-color: #FCA424;
    margin-top: 1.6rem;
    width: fit-content;
}
.btn-profile:hover,
.btn-profile:active {
    font-weight: 550;
    background-color: #fcae3a;
    color: #e2e2e2;
    transition: all 0.4s;
    border-radius: 1px solid #FCA424;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/***********************/
/* SECTION Main Body */
/***********************/
.main-body{
    height: 87vh;
    display: grid;
    grid-template-columns: 1.103fr 3fr;
}

/* ******************** */
/* ******************** */
.main-body--1 {
    padding: 0 3.6rem;
}

.secondary-heading {
    color: #1A1A1A;
    margin: 8px 0;
    font-size: 1.4rem;
}

.head{
    padding: 5.2rem 0 0.5rem 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgba(68, 68, 68, 0.057);
}

.main-body--1 .icon{
    rotate: 90deg;
    color: #b9b9b9;
}

.tertiary-heading{
    font-size: 1.2rem;
    font-weight: 550;
    color: #b9b9b9;
    margin: 8px 0;
}

.person {
    margin:1.4rem 0;
} 

.person-img {
    height: 4.2rem;
    width: 4.2rem;
    border-radius: 50%;
    margin:0.4rem 4px 1.2rem 0;
    border: 3px solid #fdf2e9;
}

/******************/
/*********************/

.head--about-me{
   padding-top: 5px;
}
.about-me--detail{
    margin-top: 1rem;
}
.about-me--heading{
    color: #a4a4a4;
    font-size: 1.2rem;
    line-height: 1.5;
}
.about-me--text{
    font-size: 1.2rem;
    font-weight: 550;
    color: #1a1a1a9a;
    margin-bottom: 1rem;
}

/* ******************** */
/* ******************** */

.main-body--2 {
    /* background-color: #7c7c7c3c; */
    border-left: 1px solid rgba(68, 68, 68, 0.057);
}

.main-nav-list {
    padding: 1.4rem 1.4rem;
    list-style: none;
    letter-spacing: 0.4px;
    display: flex;
    align-items: center;
    justify-content:space-between;
    gap: 4.8rem;
    border-bottom: 1px solid rgba(68, 68, 68, 0.057);
    
}

.main-nav-link:link,
.main-nav-link:visited {
    display: inline-block;
    text-decoration: none;
    color: #cdcdcd;
    font-weight: 550;
    font-size: 0.9rem;
}

.main-nav-link:hover,
.main-nav-link:active
{
    font-weight: 700;
    margin: 0 -4px ;
}
.main-nav-link.nav-claims:link,
.main-nav-link.nav-claims:visited{
    padding: 6px;
    border-radius: 4px;
    background-color: #0DD39D;
    color: #ebebeb;
}

.main-nav-link.nav-claims:hover,
.main-nav-link.nav-claims:active {
    background-color: #0DD39D;
}

.nav--open{
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap:1rem;
    color: #1A1A1A !important;
    font-weight: 900 !important;
}
.nav--open ion-icon{
    color: #1A1A1A;
}
