*{
    padding: 0;
    margin: 0;
    box-sizing:border-box;
}
html {
    font-size: 72.5%;
}
body {
    font-family: "Poppins", sans-serif;
    line-height: 1;
    font-weight: 400;
    color: #cdcdcd;
}
/************************/
.back{
    position: relative;
    width: 116rem;
    height: 155vh;
    margin: 0 auto;  
    position: relative;
    overflow: hidden;
    border: 1px solid #1A1A1A;
}
.orangecircle{
    height: 26rem;
    width:26rem;
    border: 2.6rem solid #FCA424;
    border-radius: 50%;
    position: absolute;
    transform: translate(-22%,-22%);
}
.greencircle{
    padding:6px;
    border: 4px solid #0DD39D;
    border-radius: 50%;
    position: absolute;
    top: 1rem;
    left: 55%;
}
.square{
    width: 15px;
    height: 15px;
}
.sq_green{
    background-color: #0DD39D;
    position: absolute;
    bottom: 2%;
    left: 2.8%;
}
.sq_yellow{
    background-color:#FCA424;
    position: absolute;
    right:2%;
    top: 8%;
    rotate:150deg;
}
.hsq {
    width: 1.1rem;
    height: 1.1rem;
    position: absolute;
    rotate: 45deg;
}
.h_sq_1{
    border: 3.5px solid #CDCDCD;
    right: 2%;
    bottom: 40%;
}
.h_sq_2{
    border: 3.5px solid #FCA424;
    left: 45%;
    bottom: 3%;
}
.sm_sq{
    width: 0.8rem;
    height:0.8rem;
    border: 3.5px solid #FCA424;
    rotate: 45deg;
    position: absolute;
    left: 2%;
    top: 50%;
}
.big_square{
    width: 22rem;
    height: 20rem;
    border: 1rem solid #f0f0f0;
    rotate: 30deg;
    position: absolute;
    right: -5%;
    bottom: -4%; 
    opacity:1;
}
/***********************/
/* SECTION MAIN */
/***********************/
.main{
    width: 95rem;
    height: auto;
    margin: 0 4%;
    background-color: #FEFEFE;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
    position: absolute;
    top: 6%;
    left: 5%;
}
        /**********************/
        /*HEADER */
        /**********************/
header{
    font-size: 1.2rem;
    height: 22rem;
    background-color: aliceblue;
    background-image:linear-gradient(45deg,
            #2321216b,
            #3634347a),
            url(img/mountain.png);
    background-size: cover;
    background-position: center center;
}
.main-nav{
    padding: 2.4rem 2.2rem 0 2.2rem;
    margin: 0 2rem 0 1.7rem;
    justify-content: space-between;
}
.logolink{
    justify-content: center;
    text-decoration: none;
    gap: 5px;
    letter-spacing: -1px;
    color: #cdcdcdb6;
    font-weight: 550;
}
.logo img{
    width: 1.8rem;
}
.navigation{
    justify-content:space-between;
    gap: 1.4rem;
}
.btn:link,
.btn:visited{
    font-size: 10px;
    height: 2rem;
    display: flex;
    padding: 0 1rem;
    text-decoration: none;
    align-items: center;
    color: #CDCDCD;
    border-radius: 4px;
    background-color:#a4a4a428;
}
.btn:hover,
.btn:active{
    font-weight:500;
    background-color: #cdcdcd;
    color: #676767;
    transition: all 0.4s;
    border-radius: 1px solid #7b7b7b;
    transform: scale(1.1);
}

.navigation a:hover:not(:first-child),
.logolink:hover{
    transform: scale(1.2);
    transition: all 0.4s;
}
.nav-img{
    width: 2.8rem;
    height: 2rem;
    border-radius: 2px;
}
.navigation::after{
    content: "";
    width: 6px;
    height: 6px;
    background-color: #fcae3a;
    position: absolute;
    border-radius: 50%;
    top: 3.4%;
    right:9.1%;
}
/**********************/
.detail{
    margin: 3rem; 
    margin-left: 3.4rem;
    color: #CDCDCD;
    position: relative;
    display:flex;
    height: 12rem;
    gap: 3rem;
}
.detail .icon1 {
    background-color: #ebebeb2d;
    padding: 2px;
    position: absolute;
    bottom: -15%;
    right: 1.12%;
    border-radius: 2px;
}
.detail .icon1:hover{
    cursor: pointer;
}
.detail-img{
    width: 18rem;
    height: 18rem;
    object-fit:cover;
    margin-left:5px;
    border-radius: 3px;
}
.detail-text{
    width: 56rem;
    font-weight: 450;
    font-size: 12px;
    line-height: 1.8;
    letter-spacing: -0.6px;
}
.primary-heading .icon{
    color: #fcae3a;
}
.profile{
    height: 9.6rem;
    width: 40rem;
    padding: 0 1.8rem;
    margin: 8px 1rem 0 15rem;
    gap: 2rem;
    justify-content: center;
    background-color: #ebebeb35;
    border-radius: 2px;
}
.profile p{
    font-size: 12px;
}
.profile strong{
    font-weight: 550;
    line-height: 2;
    font-size: 14px;
}
.chart{
    font-size: 1rem;
    font-weight: 600;
    width: 3.4rem;
    height: 3.4rem;
    display:inline-block;
    padding: 1.2rem 0.8rem;
    background-color: #ebebeb35;
    border-radius: 50%;
    position: relative;
}
.chart::before {
    z-index: 1;
    content: "";
    padding: 2.2rem;
    border: 3px solid #FCA424;
    border-top-color: #d2d2d2;
    display: block;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform:translate(-70% , +5%);
    rotate: 50deg;
}
.btn-profile:link,
.btn-profile:visited{
    color:#e1e1e1;
    font-weight: 550;
    display: inline-block;
    padding: 6px 1rem;
    text-decoration: none;
    border-radius: 2px;
    background-color: #FCA424;
    margin-top: 1.6rem;
    width: fit-content;
}
.btn-profile:hover,
.btn-profile:active {
    font-weight: 550;
    background-color: #fcae3a;
    color: #e2e2e2;
    transition: all 0.4s;
    border-radius: 1px solid #FCA424;
    box-shadow: rgba(0, 0, 0, 0.14) 0px 3px 8px;
    transform: scale(1.04);
}
/***********************/
.main-body{
    display: grid;
    grid-template-columns: 1.103fr 3fr;
}
.main-body--1 {
    padding: 0 2.6rem;
}
.head{
    padding: 5.2rem 0 0.5rem 0;
    justify-content: space-between;
    border-bottom: 1px solid rgba(68, 68, 68, 0.057);
}
.main-body--1 .icon{
    color: #7b7b7b;
}
.main-body--1 .icon:hover{
    color: #1A1A1A;
    cursor: pointer;
}
.person {
    margin:1.4rem 0;
} 
.person-img {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    margin:10px 10px 0 0;
    border: 3px solid #fdf2e9;
}
/*********************/
.head--about-me{
   padding-top: 5px;
}
.about-me--detail{
    margin-top: 1rem;
}
.about-me--heading{
    padding: 12px 0;
    color: #a4a4a4;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: -0.1px;
}
.about-me--text{
    font-size: 1rem;
    font-weight: 500;
    color: #1a1a1a9a;
    margin-bottom: 1rem;
    line-height: 1.2;
}
/*********************/
.main-body--2 {
    border-left: 1px solid rgba(68, 68, 68, 0.057);
}
.main-nav-list{
    list-style: none;
    letter-spacing: 0.4px;
    gap: 2.8rem;
    border-bottom: 1px solid rgba(68, 68, 68, 0.057);  
    z-index: 9999;
}
.main-nav-link:link,
.main-nav-link:visited,
.main--link:link,
.main--link:visited {
    /* display: inline-block; */
    text-decoration: none;
    color: #cdcdcd;
    font-weight: 600;
    font-size: 10px;
}
.main--link:hover,
.main--link:active{
    color: #a4a4a4;
    border-bottom: 2px solid #1A1A1A;
    padding:1.66rem 0;
}
.main-nav-link.nav-claims:link,
.main-nav-link.nav-claims:visited{
    padding:6px;
    margin-left: 32px;
    border-radius: 4px;
    background-color: #0DD39D;
    color: #ebebeb;
    margin-right: 2rem;
}
.main-nav-link.nav-claims:hover,
.main-nav-link.nav-claims:active {
    background-color: #0aa97e;
    transform: scale(1.1);
    transition: all 0.4s;
}
.nav--open{
    gap: 4px;
    justify-content:center;
    align-items: center;
    color: #1A1A1A !important;
    font-weight: 900 !important;
}
.nav--open ion-icon{
    color: #1A1A1A;
    height: 8px;
}
.dashboard{
    border-bottom: 2px solid #FCA424;
    padding: 1.6rem 1.4rem;
}

/*************************/
.card-claim{
    margin: 3rem 2rem 0 2rem;
    display: flex;
    gap: 2rem;
    
}
.card-claim--el{
    gap: 2rem;
    box-shadow: rgba(149, 157, 165, 0.15) 0px 4px 30px;
    padding: 8px;
}
.claim-no{
    font-family: dosis;
    font-size: 3.2rem;
    color: #1A1A1A;
    padding: 2rem 0.4rem;
    padding-right: 1rem;
    border-right: 1px solid rgba(0, 0, 0, 0.037);
}
.card--person-img{
    margin-left: -10px;
    padding: 12px 44px 0 6px;
    width: 12.4rem;
}
.card--person-img .person{
    display: flex;
}
.card--person-img p{
    font-weight: 600;
    font-size: 1rem;
}
.card--person-img .card--el{
    height: 2.4rem;
    width: 2.4rem;
    border-radius: 50%;
    margin-right: -1rem;
    margin-top: -6px;
    border: 1px solid #d7d7d7;
}
.card-el-text{
    font-size: 10px;
    color: #FEFEFE;
    background-color: #0dd39eaf; 
    padding: 8px 3px;
    margin-left: -17%;
}
/******************/
.section--activity{
    display: grid;
    grid-template-columns: 1.65fr 1fr;
}
/*******************/
.account{
    box-shadow: rgba(0, 0, 0, 0.09) 1px 1px 10px;
    gap: 20px;
    color: #cdcdcd;
    padding:2.2rem;
    margin: 1.4rem 2rem;
    width: 41.2rem;
}
.account:first-child{
    margin-top: 2rem;
}
.account img{
    width:8rem;
    height:8rem;
}
.account ul li,
.acc-last-icon{
    gap: 10px;
    font-size: 10px;
    font-weight: 500; 
    line-height: 2;
}

.account .icon{
    height: 1.4rem;
}

.account .secondary-heading{
    margin-top: 2px ;
    letter-spacing: -0.6px;
}
.account strong{
    color: #767474c5;
    font-weight: 700;
}
.account .btn{
    font-size: 1rem;
    background-color: #FCA424;
    padding: 0 12px;
    margin-left: 4rem;
    border-radius: 2px;
    gap: 4px;
}
/*********************/
.activity{
    box-shadow: rgba(0, 0, 0, 0.04) 0px 1px 10px;
    color: #cdcdcd;
    padding: 2.2rem 2rem;
    margin: 2rem 3.2rem 0 0;
    position: relative;
    height: 40rem;
    overflow: hidden;
}
.client-act-history {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    height: 36rem;
    overflow-y: scroll;
}

.client-act-history::-webkit-scrollbar {
    width: 12px;
}

.client-act-history::-webkit-scrollbar-track {
    background: white;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 2rem;
}

.client-act-history::-webkit-scrollbar-thumb {
    background-color: #FCA424;
    border-radius: 1rem;
    border: 2px solid white;
}

.client-act-history::-webkit-scrollbar-thumb:hover {
    background-color: #e6951c;
}
.client-act-history::after{
    content: "";border: 1px solid #1a1a1a1b;
    color: #0aa97e;
    height:32rem;
    position: absolute;
    top: 15.8%;
    left: 11.5%;
    z-index: 1;
}
.client-act-history:hover,
.client-act-history:active{
    cursor: pointer;
}
.activity-heading{
    color: #a4a4a4;
    font-weight: 600;
    font-size: 1.2rem ;
    padding-bottom: 12px;
    border-bottom: 1px solid #1a1a1a1c;
}
.act-detail{
    padding: 5px 0 ;
}
.act-detail:last-child{
    margin-bottom: 2rem;
}
.act-detail h3{
    font-size: 1.4rem;
    font-weight: 600;
    color: #676767;
    gap: 10px;
    letter-spacing: -1px;
}
.act-detail ion-icon{
    width: 1rem;
    z-index: 9;
}
.act-detail .icon1{
    color: rgb(83, 180, 219);
}
.act-detail .icon2 {
    color: #FCA424;
}
.act-detail .icon3 {
    color: #0DD39D;
}
.act-detail li{
    list-style: none;
    padding-left: 2.1rem;    
    font-size: 8px;
    letter-spacing: normal;
    line-height: 1.7;
}
.act-detail li:first-child{
    color: #a4a4a4;
    font-weight: 500;
    padding: 5px 2.1rem;
}
/*********************/
/*********************/
/*********************/
.flex{
    display: flex;
    align-items: center;
}
.card-claim--el:hover,
.account:hover{
    transform: translateY(3px);
    box-shadow: 0 10px 6.4rem rgba(0, 0, 0, 0.091);
    transition: all 0.4s;
}
.icon {
    width: 1.8rem;
    height: 2rem;
    color: #CDCDCD;
}
.primary-heading {
    gap: 6px;
    font-size: 2rem;
    font-weight: 500;
    letter-spacing: normal;
}
.secondary-heading {
    color: #1A1A1A;
    margin: 8px 0;
    font-size: 1.4rem;
}
.tertiary-heading {
    font-size: 1.2rem;
    font-weight: 500;
    color: #b9b9b9;
    margin-top: 2.2rem;
}
img{
    object-fit: cover;
}
img:hover{
    cursor: pointer;
}